@model IEnumerable<Vũ_Trụ_Điện_Thoại.Models.NhanVien>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create" class="btn btn-outline-success">Thêm mới</a>
</p>
<table class="table table-bordered table-hover text-center " style="box-shadow:5px 10px 25px #f8fff0">
    <thead>
        <tr class="alert alert-primary">
            <th>
                Mã nhân viên
            </th>
            <th>
                Họ tên
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Mã chức vụ
            </th>
            <th>
                Mã người dùng
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaNhanVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaChucVu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNguoiDung)
            </td>
            <td>
                    <a href="/NhanVien/Edit?MaNhanVien=@item.MaNhanVien" class="btn btn-primary">Sửa</a>
                    <a href="/NhanVien/Details?MaNhanVien=@item.MaNhanVien" class="btn btn-warning">Chi tiết</a>
                    <a href="/NhanVien/Delete?MaNhanVien=@item.MaNhanVien" class="btn btn-danger">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
