@model IEnumerable<MobileStore.Models.KhachHang>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Danh sách hóa đơn</h2>

<p>
    <a href="/KhachHang/Create" class="btn btn-success">Thêm mới</a>
</p>
<table class="table table-bordered table-hover text-center " style="box-shadow:5px 10px 25px #f8fff0">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenKhachHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tuoi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaiKhoan.TenTaiKhoan)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenKhachHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tuoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaiKhoan.TenTaiKhoan)
            </td>
            <td>
                <a href="/KhachHang/Edit?Masinhvien=@item.MaKhachHang" class="btn btn-primary">Sửa</a>
                <a href="/KhachHang/Details?Masinhvien=@item.MaKhachHang" class="btn btn-warning">Chi tiết</a>
                <a href="/KhachHang/Delete?Masinhvien=@item.MaKhachHang" class="btn btn-danger">Xóa</a>

            </td>
        </tr>
    }

</table>

<style>
    th{
        text-align:center;
    }
</style>